<div class='contactView_companySection'>
        
    <div class="viewPanel_item viewPanel_item_companyName {{hide_company}}">
        <div class='viewPanel_item_label viewPanel_item_companyName_label'>{{company_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_companyName_value'>{{company}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_department {{hide_department}}">
        <div class='viewPanel_item_label viewPanel_item_department_label'>{{department_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_department_value'>{{department}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_position {{hide_position}}">
        <div class='viewPanel_item_label viewPanel_item_position_label'>{{position_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_position_value'>{{position}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_fax {{hide_fax}}">
        <div class='viewPanel_item_label viewPanel_item_fax_label'>{{fax_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_fax_value'>{{fax}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_companyAdd {{hide_addr}}">
        <div class='viewPanel_item_label viewPanel_item_companyAdd_label'>{{companyAdd_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_companyAdd_value'>
            <div><span class="viewPanel_item_companyAdd_country">{{country}}</span>，<span class="viewPanel_item_companyAdd_province">{{province}}</span>，<span class="viewPanel_item_companyAdd_city">{{city}}</span></div>
            <div><span class="viewPanel_item_companyAdd_street">{{street}}</span></div>
            <div><span class="viewPanel_item_companyAdd_postcode">{{postcode}}</span></div>
        </div>
    </div>

</div>