<div class="contactEdit_companySection clearfix {{section_hide}}">
        
    <div class="section_title"><span>{{lng_section_label}}</span></div>

    <!-- 公司 -->
    <div class="contactEdit_item contactEdit_item_companyName clearfix">
        <div class="contactEdit_item_label">{{company_label}}</div>
        <div class="contactEdit_item_value">
            <div class="company_editor"><input type="text" placeholder="" value="{{company}}"></div>
        </div>
    </div>
    
    <!-- 部门 -->
    <div class="contactEdit_item contactEdit_item_department clearfix">
        <div class="contactEdit_item_label">{{department_label}}</div>
        <div class="contactEdit_item_value">
            <div class="department_editor"><input type="text" placeholder="" value="{{department}}"></div>
        </div>
    </div>
    
    <!-- 职位 -->
    <div class="contactEdit_item contactEdit_item_position clearfix">
        <div class="contactEdit_item_label">{{position_label}}</div>
        <div class="contactEdit_item_value">
            <div class="position_editor"><input type="text" placeholder="" value="{{position}}"></div>
        </div>
    </div>

    <!-- 传真 -->
    <div class="contactEdit_item contactEdit_item_fax clearfix">
        <div class="contactEdit_item_label">{{fax_label}}</div>
        <div class="contactEdit_item_value">
            <div class="fax_editor"><input type="text" placeholder="" value="{{fax}}"></div>
        </div>
    </div>

    <!-- 公司地址 -->
    <div class="contactEdit_item contactEdit_item_companyAdd clearfix">
        <div class="contactEdit_item_label">{{companyAdd_label}}</div>
        <div class="contactEdit_item_value">
            <div class='clearfix'>
                <div class="company_country_editor"><input type="text" placeholder="{{country_label}}" value="{{country}}"></div>
                <div class="company_province_editor"><input type="text" placeholder="{{province_label}}" value="{{province}}"></div>
                <div class="company_city_editor"><input type="text" placeholder="{{city_label}}" value="{{city}}"></div>
            </div>
            <div class="company_street_editor"><input type="text" placeholder="{{street_label}}" value="{{street}}"></div>
            <div class="company_postcode_editor"><input type="text" placeholder="{{postcode_label}}" value="{{postcode}}"></div>
        </div>
    </div>
    
</div>