<!--
<div class="contactView_mainSection">  
	<ul class='viewPanel_email_list'>
        {{email_list}}
	</ul>
    <ul class='viewPanel_tel_list'>
        {{phone_list}}
	</ul>
    <div class="viewPanel_item viewPanel_item_other">
        {{notions}}
    </div>
</div>
-->

<!-- email list -->
<div class="contactView_emailSection {{mailSection_hide}}">
    <ul class='viewPanel_email_list'>
        {{email_list}}
    </ul>
</div>
    
    <!-- tel list -->
<div class="contactView_telSection  {{telSection_hide}}">
    <ul class='viewPanel_tel_list'>
        {{phone_list}}
    </ul>
</div>
    
<!-- othet -->
<div class="contactView_memoSection  {{memoSection_hide}}">
    <div class="viewPanel_item viewPanel_item_other">
        {{notions}}
    </div>
</div>