<div class='contactView_personalSection'>
        
    <div class="viewPanel_item viewPanel_item_sex {{hide_sex}}">
        <div class='viewPanel_item_label viewPanel_item_sex_label'>{{sex_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_sex_value'>{{sex}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_birthday {{hide_birthday}}">
        <div class='viewPanel_item_label viewPanel_item_birthday_label'>{{birthday_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_birthday_value'>{{birthday}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_qq {{hide_qq}}">
        <div class='viewPanel_item_label viewPanel_item_qq_label'>{{qq_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_qq_value'>{{qq}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_nickname {{hide_nick}}">
        <div class='viewPanel_item_label viewPanel_item_nickname_label'>{{nick_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_nickname_value'>{{nick}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_website {{hide_website}}">
        <div class='viewPanel_item_label viewPanel_item_website_label'>{{website_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_website_value'>{{website}}</div>
    </div>

    <div class="viewPanel_item viewPanel_item_familyAdd {{hide_addr}}">
        <div class='viewPanel_item_label viewPanel_item_familyAdd_label'>{{familyAdd_label}}</div>
        <div class='viewPanel_item_value viewPanel_item_familyAdd_value'>
            <div><span class="viewPanel_item_familyAdd_country">{{country}}</span>，<span class="viewPanel_item_familyAdd_country">{{province}}</span>，<span class="viewPanel_item_familyAdd_city">{{city}}</span></div>
            <div><span class="viewPanel_item_familyAdd_street">{{street}}</span></div>
            <div><span class="viewPanel_item_familyAdd_postcode">{{postcode}}</span></div>
        </div>
    </div>
    
</div>