<!-- Person View -->
<div class="contactViewPanel clearfix">
    <div class='contactViewArea' noteId='{{note_id}}'>

        <div class='contactViewArea_controlPanel'>
            <!-- 基本信息 -->
            {{person_basic_section}}

            <!-- 主要信息 -->
            {{person_main_section}}

            <!-- personal profile -->
            {{person_profile_section}}

            <!-- company info -->
            {{person_company_section}}

            <!-- email group -->
            {{person_group_section}}

        </div>
        
    </div>
</div>