/*  Reset----------------------------------------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,input,button{padding: 0; margin: 0;} 
table {border-collapse:collapse; border-spacing:0;}
fieldset,img { border: 0; } 
address,caption,cite,code,dfn,em,strong,th,var {  font-weight:normal;  font-style:normal; } 
ol, ul, li{ list-style: none; } 
caption,th { text-align: left;} 
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; } 
q:before,q:after { content:”;  } 
abbr,acronym { border: 0;  }
button, input, select, textarea { font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */ }



/*  Clear Floated Elements，common use----------------------------------------------------------------------------------------------------*/
.float_left {float: left;}
.float_right {float: right;}
.clear{clear:both; line-height:0px; font-size:0px; height:1px;margin-top:-1px;}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix{zoom: 1; } /* IE6 */
*:first-child+html .clearfix{zoom: 1; } /* IE7 */

.hidden {display: none;}
.align_center{text-align:center;}
.align_left{text-align:left;}
.align_right{text-align:right;}