
<div id="foxmail_view_body" class="body_session_count_1 body_focus" lang="zh-Hans">
	<div class="mail_frame" id='mail_frame'>
		<!-- 邮件会话区域 -->
		<div class="mail_session_container" id="mail_session_container">
			<!-- 展开会话邮件主题 -->
			<div class='mail_session_title' id='mail_session_title'>
				<span class="mail_head_subject common_page_subject">{{subject}}</span>
				<span id="favorite_news_mark" class="mail_top_most not_top"></span>
			</div>
			<!-- 邮件会话内容 -->
			<div class="mail_session mail_session_expand">
				<!-- FrameBorder PlaceHolder -->
				{{FrameBorderPlaceHolder}}
				<div class='mail_session_line_space'></div>
			</div>
		</div>
	</div>
</div>