<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval'; frame-src 'self'">
	<link rel="stylesheet" href="{{common_path}}/common.css" type="text/css">
	<link rel="stylesheet" href="{{template_path}}/Css/reset.css" type="text/css"/>
	<link rel="stylesheet" href="{{common_path}}/FoxUI/FoxUI.css" type="text/css">
	<link rel="stylesheet" href="{{template_path}}/Css/Com.css" type="text/css"/>
	<link rel="stylesheet" href="{{template_path}}/Css/contactPanel.css" type="text/css"/>
	<link rel="stylesheet" href="{{template_path}}/Css/groupPanel.css" type="text/css"/>
	<script type="text/javascript" src="{{common_path}}/Javascript/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{template_path}}/Javascript/Main.js"></script>
	<style type="text/css">
		.foxmail_system_font, textarea, input, select{ 
			font-family: "{{system_font}}", "Tahoma"; 
		}
	</style>
</head>
<body class='foxmail_system_font' >
	{{ContentPanel}}
</body>
</html>